NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb://localhost:27017/toolkit
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=chidiolorunda@gmail.com
EMAIL_PASS=tcupozbsmqzwlpvj
EMAIL_FROM=chidiolorunda@gmail.com


# Optional
JWT_SECRET=your-super-secret-jwt-key
ALLOWED_ORIGINS=*


